@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --support-color-1:#AD00FF;
    --support-color-2:#FF00C7;  
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}   


body{
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
